@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.layout-wrapper {
  min-height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1b2430;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}


.container{
  margin-top:50px;
  margin-right: 15px;
  background-color: #ffffff;
  }
  .radius-10 {
      border-radius: 10px !important;
  }
  
  .border-info {
      border-left: 5px solid  #0dcaf0 !important;
  }
  .border-danger {
      border-left: 5px solid  #fd3550 !important;
  }
  .border-success {
      border-left: 5px solid  #15ca20 !important;
  }
  .border-warning {
      border-left: 5px solid  #ffc107 !important;
  }
  
  .cuenta-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .large-icon {
    font-size: 35px; /* Ajusta el tamaño de fuente según tu preferencia */
  }
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: .25rem;
      margin-bottom: 1.5rem;
      box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  .bg-gradient-scooter {
      background: #17ead9;
      background: -webkit-linear-gradient( 
  45deg
   , #17ead9, #6078ea)!important;
      background: linear-gradient( 
  45deg
   , #17ead9, #6078ea)!important;
  }
  .widgets-icons-2 {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ededed;
      font-size: 27px;
      border-radius: 10px;
  }
  .rounded-circle {
      border-radius: 50%!important;
  }
  .text-white {
      color: #fff!important;
  }
  .ms-auto {
      margin-left: auto!important;
  }
  .bg-gradient-bloody {
      background: #f54ea2;
      background: -webkit-linear-gradient( 
  45deg
   , #f54ea2, #ff7676)!important;
      background: linear-gradient( 
  45deg
   , #f54ea2, #ff7676)!important;
  }
  
  .bg-gradient-ohhappiness {
      background: #00b09b;
      background: -webkit-linear-gradient( 
  45deg
   , #00b09b, #96c93d)!important;
      background: linear-gradient( 
  45deg
   , #00b09b, #96c93d)!important;
  }
  
  .bg-gradient-blooker {
      background: #ffdf40;
      background: -webkit-linear-gradient( 
  45deg
   , #ffdf40, #ff8359)!important;
      background: linear-gradient( 
  45deg
   , #ffdf40, #ff8359)!important;
  }


  @media (max-width: 768px) {
    /* Estilos generales para dispositivos móviles */
    body {
      font-size: 14px;
    }
  
    /* Ajustes para la sección de objetivos */
    .container {
      padding: 10px;
    }
  
    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h1 {
      font-size: 24px;
    }
  
    .btn {
      font-size: 14px;
      margin-top: 10px;
    }
  
    /* Ajustes para las tarjetas de objetivos */
    .card-body {
      padding: 10px;
    }
  
    .list-group-item {
      font-size: 12px;
    }
  
    .large-icon {
      font-size: 20px;
    }
  
    .btn-success,
    .btn-secondary,
    .btn-primary,
    .btn-danger {
      font-size: 14px;
      margin: 5px;
    }
  
    /* Ajustes para el modal de edición */
    .modal-header {
      font-size: 18px;
    }
  
    .modal-body {
      padding: 10px;
    }
  
    .form-label {
      font-size: 14px;
    }
  
    .form-control {
      font-size: 14px;
    }
  
    .modal-footer .btn {
      font-size: 14px;
      margin: 5px;
    }
  }

 